USE [MMV]
GO
/****** Object:  Table [dbo].[S_PATH_UPLOAD]    Script Date: 5/31/2019 11:39:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S_PATH_UPLOAD](
	[CD_PATH] [bigint] IDENTITY(1,1) NOT NULL,
	[PATH_NAME] [nvarchar](255) NULL,
	[PATH_FILE] [nvarchar](max) NULL,
	[PATH_BACKUP_FILE] [nvarchar](100) NULL,
	[CREATED_DATE] [datetime] NULL,
	[PATH_CODE] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[S_PATH_UPLOAD] ON 

INSERT [dbo].[S_PATH_UPLOAD] ([CD_PATH], [PATH_NAME], [PATH_FILE], [PATH_BACKUP_FILE], [CREATED_DATE], [PATH_CODE]) VALUES (1, N'UploadFPIT-Daily', N'D:\\UPLOAD_MMV\\', N'D:\\UPLOAD_MMV\\BACKUP\\', CAST(0x0000AA2000982FB6 AS DateTime), N'DAILYSALES')
INSERT [dbo].[S_PATH_UPLOAD] ([CD_PATH], [PATH_NAME], [PATH_FILE], [PATH_BACKUP_FILE], [CREATED_DATE], [PATH_CODE]) VALUES (2, N'DSR_Performance', N'D:\UPLOAD_MMV\', N'D:\UPLOAD_MMV\BACKUP\', CAST(0x0000AA2000984043 AS DateTime), N'PERFORMANCE')
INSERT [dbo].[S_PATH_UPLOAD] ([CD_PATH], [PATH_NAME], [PATH_FILE], [PATH_BACKUP_FILE], [CREATED_DATE], [PATH_CODE]) VALUES (3, N'Customer list', N'D:\UPLOAD_MMV\', N'D:\UPLOAD_MMV\BACKUP\', CAST(0x0000AA220103564F AS DateTime), N'CUSTOMERLIST')
SET IDENTITY_INSERT [dbo].[S_PATH_UPLOAD] OFF
ALTER TABLE [dbo].[S_PATH_UPLOAD] ADD  CONSTRAINT [DF_PATH_UPLOAD_DAILYSALES_PERFORMANCE_CREATED_DATE]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
